<%- include("header") -%>
    <div class="box" id="heading">
      <h1><%= headerPurpose %></h1>
    </div>

    <div class="box">
      <% for(let i = 0; i < addedTodo.length; i++) { %>
      <div class="item">
        <input type="checkbox">
        <p><%= addedTodo[i]; %></p>
      </div>
      <% } %>
      <form action="/" method="post">
        <input type="text" name="addTodo" placeholder="New item" autocomplete="off">
        <button type="submit" name="list" value= <%= headerPurpose %> >+</button>
      </form>
    </div>

<%- include("footer") -%>
